<header class="header">
  <nav class="nav">
      <div class="nav__container container">
          <ul class="nav__items list">
                {% if request.path == '/' %}
                     <li class="nav__item nav__item_active"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                {% elif profile%}
                       <li class="nav__item nav__item_active"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                {% else %}
                     <li class="nav__item"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                {% endif %}

              {% if user.is_authenticated %}
              <li class="nav__item {% if request.path == '/subscribe/' %} nav__item_active {% endif %}"><a href="{% url 'subscribe' %}" class="nav__link link">Мои подписки</a></li>
              <li class="nav__item {% if request.path == '/recipe_create/' %} nav__item_active {% endif %}"><a href="{% url 'recipe_create' %}" class="nav__link link">Создать рецепт</a></li>
              <li class="nav__item {% if request.path == '/favorite/' %} nav__item_active {% endif %}"><a href="{% url 'favorite' %}" class="nav__link link">Избранное</a></li>
              <li class="nav__item {% if request.path == '/cart/' %} nav__item_active {% endif %}"><a href="{% url 'cart' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{{ cart_count }}</span></li>
              {% endif %}
          </ul>
          <ul class="nav__items list">
              {% if user.is_authenticated %}
                  <li class="nav__item"><a href="{% url 'change-password'%}" class="nav__link link">Изменить пароль</a></li>
                  <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
              {% else %}
                  <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                  <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
              {% endif %}

          </ul>
      </div>
  </nav>
</header>
